// ===== IMPORTS EXTERNOS =====
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// ===== TAILWIND =====
@tailwind base;
@tailwind components;
@tailwind utilities;

// ===== CDK =====
@import '@angular/cdk/overlay-prebuilt.css';

// ===== UTILIDADES GLOBALES =====
@layer components {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .border-3 {
    border-width: 3px;
  }
}
